@import "src/scss/_variables";

.Conditions {
  .content-body {
    @extend %shared-card-body;
    display: flex;
    flex-direction: column;
    position: relative;
    width: inherit;
    background-color: white;
    padding: 0.8rem 1.5rem 1.5rem;

    .mb-1-5 {
      margin-bottom: 1.5rem !important;
    }

    .MuiFormControl-root:not(:first-child) {
      margin-top: 0.5rem;
    }

    .btn-clear {
      align-self: flex-end;
      font-weight: bold !important;
      font-size: 0.9rem;
    }

    .must-meet-separator {
      text-align: center;
      margin: 0.5rem 0;
    }

    .btn-add {
      padding: 1rem 0;
      font-weight: bold !important;
      font-size: 0.9rem;
    }
  }
}
