@import "src/scss/_variables";

.ButtonSelectorNode {
  display: grid;
  background-color: white;
  padding: 1rem 1.5rem 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 0.15rem solid $grey300;
  width: 12rem;

  &.is-selected {
    background-color: $primaryLight;
    border: 0.15rem solid $primary;

    .lbl-event,
    .lbl-condition,
    .lbl-action {
      background-color: white !important;
    }
  }

  .label-div {
    position: relative;
  }
  .MuiIconButton-root {
    margin-left: 0.2rem;
    margin-right: -1.5rem;
    color: $danger;
    padding: 0%;
    visibility: hidden;
  }
  .label-div:hover .MuiIconButton-root {
    visibility: visible;
  }

  .MuiTypography-body1 {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .MuiButton-root {
    margin: 1rem 0 0.5rem;
  }

  .Mui-disabled {
    margin: 0 !important;
    width: 95%;
    justify-self: center;
  }

  .lbl-event {
    background-color: $primaryLight !important;
    color: $grey800 !important;
  }

  .lbl-condition {
    background-color: $purpleLight !important;
    color: $grey800 !important;
  }

  .lbl-action {
    background-color: $successLight !important;
    color: $grey800 !important;
  }
}
