@import "src/scss/_variables";

.ButtonSelectorNode {
  display: grid;
  background-color: white;
  padding: 0.8rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 0.12rem solid $grey300;
  width: 12rem;

  .node-label {
    position: absolute;
    top: -1.5rem;
    left: 0;
  }

  &.is-selected {
    background-color: $primaryLight;
    border: 0.12rem solid $primary;
  }

  .text-or {
    margin: 0.5rem 0;
  }

  .label-div {
    position: relative;
  }
  .MuiIconButton-root {
    color: $danger;
    padding: 0%;
    position: absolute;
    visibility: hidden;
    right: -3.2rem;
  }
  .label-div:hover .MuiIconButton-root {
    visibility: visible;
  }

  .btn-swap {
    right: 1rem;
    top: 1rem;
    visibility: visible;
  }

  .btn-delete {
    right: -2rem;
    top: 1rem;
    visibility: visible;
  }

  .MuiTypography-body1 {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .Mui-disabled {
    margin: 0 !important;
    width: 95%;
    justify-self: center;
  }

  .lbl-event,
  .lbl-condition,
  .lbl-action {
    font-weight: 600 !important;
    color: $grey800 !important;
  }
}
