@import "src/scss/_variables";

.HomePage {
  display: flex;
  .home-section {
    flex: 4;
    height: 90vh;
    padding: 1rem;
    padding-left: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .MuiButton-root {
      margin-bottom: 1rem;
    }
  }

  .drawer {
    flex: 1;
    height: 100vh;
    padding: 1rem;
    padding-right: 0.5rem;
    overflow: scroll;
  }
}
