// todo: disabled button styles

.MuiContainer-root {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

// fix react flow font
.react-flow__edge-text {
  font-family: monospace;
  font-size: 1rem !important;
}
